<h1 class="animated fadeIn fast">Sobre mi App de Comics</h1>
<hr>
<div class="animated fadeIn">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero ipsa placeat perferendis repudiandae blanditiis, maiores adipisci amet aperiam officia dicta laboriosam, itaque ipsam, incidunt voluptatum! Ratione maiores dolorum eaque blanditiis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione molestias repellat consequatur totam eveniet, explicabo quas nulla fugit voluptate quia voluptas consectetur? Voluptatem tempore suscipit ratione saepe pariatur sint illum?</p>
</div>